<form class="example-form">
  <h3>Order Details</h3>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Supplier Name" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Location" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Supplier Invoice Number" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="3"
      placeholder="Notes"
    ></textarea>
  </mat-form-field>
</form>
