.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding-top: 30px;
  height: calc(100% - 30px);
  .main-page {
    display: flex;
    justify-content: center;
  }
  .footer {
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    .align-right {
      margin-left: auto;
    }
    button {
      margin: 0 10px;
    }
  }
}

.left-card {
  max-width: 400px;
}

.right-card {
  margin-left: 40px;
  min-width: 932px;
}

