<div class="container">
  <div class="main-page">
    <div>
      <mat-card class="left-card">
        <mat-card-content>
          <app-order-detail></app-order-detail>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card class="right-card">
        <mat-card-content>
          <app-products></app-products>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="footer">
    <button mat-button class="align-right">Cancel</button>
    <button mat-stroked-button>Save as a draft</button>
    <button mat-raised-button color="primary">Complete Order</button>
  </div>
</div>
