<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="expand">
    <td mat-cell *matCellDef>
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="expanded = !expanded; $event.stopPropagation()"
      >
        <mat-icon *ngIf="!expanded"> keyboard_arrow_down </mat-icon>
        <mat-icon *ngIf="expanded"> keyboard_arrow_up </mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <td mat-cell *matCellDef>
      {{ !expanded ? "Total (Tax Inclusive)" : "Sub Total (Tax Exclusive)" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="amounts">
    <td mat-cell *matCellDef>
      {{ !expanded ? finalCosting.totalCostWTax : finalCosting.totalCostWOTax }}
    </td>
  </ng-container>
  <ng-container matColumnDef="padding">
    <td mat-cell *matCellDef>&nbsp;</td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div [@detailExpand]="expanded ? 'expanded' : 'collapsed'">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="expand">
      <td mat-cell *matCellDef>&nbsp;</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <td mat-cell *matCellDef>Total Tax</td>
    </ng-container>
    <ng-container matColumnDef="amounts">
      <td mat-cell *matCellDef>+ {{ finalCosting.taxAmount }}</td>
    </ng-container>
    <ng-container matColumnDef="padding">
      <td mat-cell *matCellDef>&nbsp;</td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="expand">
      <td mat-cell *matCellDef>&nbsp;</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <td mat-cell *matCellDef>Total (Tax Inclusive)</td>
    </ng-container>
    <ng-container matColumnDef="amounts">
      <td mat-cell *matCellDef>{{ finalCosting.totalCostWTax }}</td>
    </ng-container>
    <ng-container matColumnDef="padding">
      <td mat-cell *matCellDef>&nbsp;</td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<form *ngIf="paymentForm" [formGroup]="paymentForm">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="payment">
      <td mat-cell *matCellDef>
        <div class="payment-type">
          <mat-radio-group aria-label="Select an option" formControlName="paymentType">
            <mat-radio-button value="now">Pay Now</mat-radio-button>
            <mat-radio-button value="later">Pay Later</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="payNow" class="tabular">
          <div class="col">Payment Method</div>
          <div class="col">
            <mat-form-field class="input-fields mat-form-field-no-hint">
              <mat-select placeholder="Select a method" formControlName="paymentMethod">
                <mat-option value="cash">Cash</mat-option>
                <mat-option value="credit">Credit Card</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="payNow" class="tabular">
          <div class="col">Paid Amount</div>
          <div class="col">
            <mat-form-field class="input-fields mat-form-field-no-hint">
              <input matInput type="number" formControlName="paidAmount" />
            </mat-form-field>
          </div>
        </div>
        <div class="tabular">
          <div class="col">Credit Amount</div>
          <div class="col">90000</div>
        </div>
        <div class="tabular">
          <div class="col">Payment Due Date</div>
          <div class="col">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" formControlName="dueDate" />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
  </table>
</form>
