<div class="wrapper">
  <table
    *ngIf="dataSource"
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="expand row"
          (click)="
            element.expanded = !element.expanded; $event.stopPropagation()
          "
        >
          <mat-icon *ngIf="!element.expanded"> keyboard_arrow_down </mat-icon>
          <mat-icon *ngIf="element.expanded"> keyboard_arrow_up </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="nameSku">
      <th mat-header-cell *matHeaderCellDef>Product Name / SKU</th>
      <td mat-cell *matCellDef="let element">
        {{ element["name"] }}<br />{{ element["sku"] }}
      </td>
    </ng-container>
    <ng-container matColumnDef="newQuantity">
      <th mat-header-cell *matHeaderCellDef>New QTY</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="input-fields mat-form-field-no-hint">
          <input matInput [formControl]="element['formGroup'].get('newQuantity')"/>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="newCost">
      <th mat-header-cell *matHeaderCellDef>
        New Cost <span>(Tax Exclusive)</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="input-fields mat-form-field-no-hint">
          <input matInput [formControl]="element['formGroup'].get('newCost')"/>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="taxCode">
      <th mat-header-cell *matHeaderCellDef>Tax Code</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field class="input-fields mat-form-field-no-hint">
          <mat-select [formControl]="element['formGroup'].get('taxCode')">
            <mat-option value="noTax">
              No Tax
            </mat-option>
            <mat-option value="vat">
              Value Added Tax
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="delete row"
          (click)="deleteProduct(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand.length"
        class="expand-element"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'"
        >
          <table mat-table [dataSource]="[element]" class="mat-elevation-z8">
            <ng-container matColumnDef="expand">
              <td mat-cell *matCellDef>&nbsp;</td>
            </ng-container>
            <ng-container matColumnDef="nameSku">
              <td mat-cell *matCellDef>&nbsp;</td>
            </ng-container>
            <ng-container matColumnDef="newQuantity">
              <td mat-cell *matCellDef>
                <div class="data-display">
                  <span style="font-size: smaller">
                    Available Qty<br />
                    (Available in Stock)
                  </span>
                  <br />
                  {{ element["availableQuantity"] }}
                </div>
                <div>
                  <span style="font-size: smaller">
                    Expected Qty<br />
                    (Total will be available)
                  </span>
                  <br />
                  {{ element["expectedQuantity"] }}
                </div>
                <div class="data-display">
                  <span style="font-size: smaller">Last Buy Price</span>
                  <br />
                  {{ element["lastBuyPrice"] }}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="newCost">
              <td mat-cell *matCellDef>&nbsp;</td>
            </ng-container>
            <ng-container matColumnDef="taxCode">
              <td mat-cell *matCellDef>
                <div class="data-display">
                  <span style="font-size: smaller">
                    Total Cost<br />
                    (Tax Exclusive)
                  </span>
                  <br />
                  {{ element["totalCostWOTax"] }}
                </div>
                <div>
                  <span style="font-size: smaller">Tax Amount</span>
                  <br />
                  {{ element["taxAmount"] }}
                </div>
                <div class="data-display">
                  <span style="font-size: smaller">
                    Total Cost<br />
                    (Tax Inclusive)
                  </span>
                  <br />
                  {{ element["totalCostWTax"] }}
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="delete">
              <td mat-cell *matCellDef>&nbsp;</td>
            </ng-container>

            <tr
              mat-row
              *matRowDef="let row; columns: columnsToDisplayWithExpand"
            ></tr>
          </table>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="element.expanded"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
</div>
