table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

// .example-element-row td {
//   border-bottom-width: 0;
// }

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.wrapper {
  width: 900px;
}

.expand-element {
  padding: 0;
}

.mat-column-expand {
  width: 80px;
}

.mat-column-nameSku {
  min-width: 175px;
}

.mat-column-newQuantity {
  width: 175px;
  min-width: 100px;
}

.mat-column-newCost {
  width: 175px;
  min-width: 100px;
}

.mat-column-taxCode {
  width: 175px;
  min-width: 100px;
}

.mat-column-delete {
  width: 80px;
}
